@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, section {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  color: #000;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  --nav-vertical-size: 100px;
}

input, button, textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  width: 100%;
}

.header {
  height: var(--nav-vertical-size);
  background: url(../../img/hero_block/01.jpg) no-repeat top;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 56px 0px 0px 0px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__item {
  margin: 0px 82px 0px 0px;
}
.header__item:last-child {
  margin: 0;
}

.item__link {
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.item__link:active {
  opacity: 0.75;
}
.item__link:hover {
  opacity: 0.75;
}

.hero {
  min-height: calc(100vh - var(--nav-vertical-size));
  background: url(../../img/hero_block/01.jpg) no-repeat center;
  background-position: center calc(-1 * var(--nav-vertical-size));
}

.hero-container {
  padding: 176px 0px 0px 0px;
}

.hero__info {
  max-width: 619px;
}

.hero__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  margin: 0px 0px 22px 0px;
}

.hero__text {
  max-width: 546;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0px 0px 59px 0px;
}

.hero_forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero__input {
  width: 297px;
  background: transparent url(../../img/hero_block/icons/01.svg) no-repeat left 8px;
  padding: 0px 0px 22px 43px;
  background-size: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  border-bottom: 2px solid #BFC0C5;
  margin: 0px 61px 40px 0px;
}

.hero__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.hero__input::-moz-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.hero__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.hero__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.hero__input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.hero__btn {
  text-transform: uppercase;
  padding: 15px 39px;
  background-color: #1B7DFF;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0px 0px 40px 0px;
}
.hero__btn:hover {
  background-color: #0f468e;
}