@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, section {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  color: #000;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  --nav-vertical-size: 100px;
}

input, button, textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  width: 100%;
}

.header {
  height: var(--nav-vertical-size);
  background: url("../../img/hero_block/01.jpg") no-repeat top;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 56px 0px 0px 0px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__item {
  margin: 0px 82px 0px 0px;
}
.header__item:last-child {
  margin: 0;
}

.item__link {
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.item__link:active {
  opacity: 0.75;
}
.item__link:hover {
  opacity: 0.75;
}

.hero {
  min-height: calc(100vh - var(--nav-vertical-size));
  background: url("../../img/hero_block/01.jpg") no-repeat center;
  background-position: center calc(-1 * var(--nav-vertical-size));
  padding: 0px 0px 430px 0px;
}

.hero-container {
  padding: 176px 0px 0px 0px;
}

.hero__info {
  max-width: 619px;
}

.hero__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  margin: 0px 0px 22px 0px;
}

.hero__text {
  max-width: 546;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0px 0px 59px 0px;
}

.hero_forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero__input {
  width: 297px;
  background: transparent url("../../img/hero_block/icons/01.svg") no-repeat left 8px;
  padding: 0px 0px 22px 43px;
  background-size: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  border-bottom: 2px solid #BFC0C5;
  margin: 0px 61px 0px 0px;
}

.hero__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.hero__input::-moz-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.hero__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.hero__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.hero__input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.hero__btn {
  text-transform: uppercase;
  padding: 15px 39px;
  background-color: #1B7DFF;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0px 0px 0px 0px;
}
.hero__btn:hover {
  background-color: #0f468e;
}

.benefits {
  background-color: #FFFFFF;
  margin: 0px 0px 131px 0px;
}

.wide-container {
  max-width: 1262px;
  margin: 0 auto;
}

.benefits-container {
  padding: 0px 100px;
  -webkit-box-shadow: 0px 2px 20px rgba(21, 34, 36, 0.16);
          box-shadow: 0px 2px 20px rgba(21, 34, 36, 0.16);
  position: relative;
}

.benefits__title {
  width: 100%;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  padding: 93px 0px 120px 100px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: #FFFFFF;
}

.benefits__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 112px 0px;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 317px;
  margin: 0px 55px 0px 0px;
}
.benefits__item:last-child {
  margin: 0px 0px 0px 0px;
}

.benefits-item__logo {
  margin: 0px 0px 37px 0px;
}

.benefits-item__title {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0px 0px 26px 0px;
}

.benefits-item__text {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0px 0px 39px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.blue-link {
  display: block;
  width: 170px;
  text-transform: uppercase;
  color: #006DFE;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  background: url("../../img/benefits_block/icons/04.svg") no-repeat 95% center;
}
.blue-link:hover, .blue-link:focus, .blue-link:active {
  background: url("../../img/benefits_block/icons/04.svg") no-repeat right center;
}

.inspiration {
  margin-bottom: 131px;
}

.inspiration__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__title {
  position: relative;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  padding: 0px 0px 10px 0px;
}
.section__title::after {
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  background-color: #006DFE;
  position: absolute;
  bottom: 0;
  left: 0;
}

.inspiration__title {
  margin: 0px 0px 36px 0px;
}

.inspiration__link {
  width: 141px;
  background: url("../../img/benefits_block/icons/04.svg") no-repeat 95% center;
}
.inspiration__link:hover, .inspiration__link:focus, .inspiration__link:active {
  background: url("../../img/benefits_block/icons/04.svg") no-repeat right center;
}

.inspiration__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.inspiration__card {
  position: relative;
  overflow: hidden;
}
.inspiration__card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.inspiration__card:hover .inspiration-card__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.inspiration__card_large {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.inspiration__card_small {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.inspiration-card__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.inspiration-card__img_large {
  height: 354px;
}

.inspiration-card__img_small {
  height: 283px;
}

.inspiration-card__title {
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.inspiration-card__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.prefecture {
  margin: 0px 0px 139px 0px;
}

.prefecture-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 108px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 108px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 77px 0px;
}

.prefecture__info {
  padding: 0px 0px 0px 45px;
}

.prefecture__title {
  font-size: 30px;
  line-height: 40px;
  color: #102746;
  margin: 0px 0px 85px 0px;
}
.prefecture__title:last-child {
  margin: 0px 0ApES0px 0px;
}

.prefecture__text {
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin: 0px 0px 58px 0px;
}

.prefecture-column__link {
  width: 220px;
}
.prefecture-column__link--2 {
  width: 250px;
}

.top-places__title {
  margin: 0px 0px 58px 0px;
}

.top-places {
  margin: 0px 0px 86px 0px;
}

.top-places__title {
  margin: 0px 0px 54px 0px;
}

.top-places__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 57px 1fr 57px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
}

.top-places__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-places__card:hover .top-card__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.top-places__card:hover .top-card__stats {
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-places__card:hover .top-card__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 28px;
  margin: 0px 0px 30px 0px;
}

.top-places__card:hover .top-card-likes {
  font-size: 20px;
  padding: 0px 27px 0px 0px;
  margin: 0px 0px 16px 0px;
}

.top-places__card:hover .top-card__comments {
  font-size: 20px;
  padding: 0px 30px 0px 0px;
}

.top-card__picture {
  position: relative;
  overflow: hidden;
  margin: 0px 0px 45px 0px;
}

.top-card__img {
  width: 100%;
  height: 386px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.top-card__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.top-card__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.top-card-likes {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 0px 20px 0px 0px;
  background: url(../../img/top-places_block/icons/01.svg) no-repeat right;
  margin: 0px 14px 0px 0px;
}

.top-card__comments {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 0px 23px 0px 0px;
  background: url(../../img/top-places_block/icons/02.svg) no-repeat right;
}

.top-card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin: 0px 0px 31px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.top-card__btn {
  max-width: 118px;
  text-transform: uppercase;
  padding: 11px 19px;
  background-color: #1B7DFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.top-card__btn:hover {
  background-color: #0f468e;
}