//<МИКСИНЫ>
@mixin flexbox(){display: -webkit-box;display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; font-size: 0;}
// @mixin anim($time, $delay){-webkit-transition: all $time ease $delay; -moz-transition: all $time ease $delay; -ms-transition: all $time ease $delay; -o-transition: all $time ease $delay; transition: all $time ease $delay;}
// @mixin scale($num) {-moz-transform: scale($num); -ms-transform: scale($num); -webkit-transform: scale($num); -o-transform: scale($num); transform: scale($num);}
// @mixin rotate($deg) {-moz-transform: rotate($deg); -ms-transform: rotate($deg); -webkit-transform: rotate($deg); -o-transform: rotate($deg); transform: rotate($deg);}
//</МИКСИНЫ>

//<ШРИФТЫ>

//<Подключаем шрифты>
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

//font-display: swap;
//</Подключаем шрифты>

//<Шрифт по умолчанию>
$fontfamily: "Lato";
//</Шрифт по умолчанию>
//</ШРИФТЫ>

//<ПЕРЕМЕННЫЕ>
$minwidth: 320px;
$mw: 1271;
$md1: 1060;
$md2: 767.98;
$md3: 479.98;
//</ПЕРЕМЕННЫЕ>

//<ОБНУЛЕНИЕ ОБЩИЕ ПАРАМЕТРЫ>
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside,section{display: block;}
html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	min-width: $minwidth;
	position: relative;
	color: #000;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	font-family: $fontfamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	--nav-vertical-size: 100px;
}
input,button,textarea{font-family: $fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
//</ОБНУЛЕНИЕ ОБЩИЕ ПАРАМЕТРЫ>

//<ОБОЛОЧКА>
// .wrapper {
// 	width: 100%;
// 	min-height: 100%;
// 	overflow: hidden;
// }
//</ОБОЛОЧКА>

//<ОСНОВНАЯ СЕТКА>
.container {
	max-width: $md1+px;
	margin: 0 auto;
	width: 100%;
	// @media (max-width:$md2+px) {max-width: 750px;}
	// @media (max-width:$md3+px) {max-width: none; padding: 0 10px;}
}
//</ОСНОВНАЯ СЕТКА>

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@import "header.scss";
@import "footer.scss";
//@import "forms.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>

//<ОСНОВНОЙ БЛОК>

//<HERO BLOCK>
.hero {
	min-height: calc(100vh - var(--nav-vertical-size));
	background: url("../img/hero_block/01.jpg") no-repeat center;
	background-position: center calc(-1 * var(--nav-vertical-size));
	padding: 0px 0px 430px 0px;
}
.hero-container{
	padding: 176px 0px 0px 0px;
}
.hero__info{
	max-width: 619px;
}
.hero__title{
	font-weight: 500;
	font-size: 50px;
	line-height: 60px;
	color: #FFFFFF;
	margin: 0px 0px 22px 0px;
}
.hero__text{
	max-width: 546;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	margin: 0px 0px 59px 0px;
}
.hero_forms{
	@include flexbox();
	flex-wrap: wrap;
}
.hero__input{
	width: 297px;
	background: transparent url("../img/hero_block/icons/01.svg") no-repeat left 8px;
	padding: 0px 0px 22px 43px;
	background-size: 20px;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
	border-bottom: 2px solid #BFC0C5;
	margin: 0px 61px 0px 0px;
}
.hero__input::placeholder{
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}
.hero__btn {
	text-transform: uppercase;
	padding: 15px 39px;
	background-color: #1B7DFF;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	margin: 0px 0px 0px 0px;
	&:hover{
		background-color: #0f468e;
	}
}
//</HERO BLOCK>

//<BENEFITS BLOCK>
.benefits {
	background-color: #FFFFFF;
	margin: 0px 0px 131px 0px;
}
.wide-container {
	max-width: 1262px;
	margin: 0 auto;
}
.benefits-container {
	padding: 0px 100px;
	box-shadow: 0px 2px 20px rgba(21, 34, 36, 0.16);
	position: relative;
}
.benefits__title {
	width: 100%;
	font-size: 35px;
	line-height: 42px;
	color: #102746;
	padding: 93px 0px 120px 100px;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-100%);
	background-color: #FFFFFF;
}
.benefits__columns {
	@include flexbox();
	justify-content: space-between;
	padding: 0px 0px 112px 0px;
}
.benefits__item {
	@include flexbox();
	flex-direction: column;
	max-width: 317px;
	margin: 0px 55px 0px 0px;
	&:last-child {
		margin: 0px 0px 0px 0px;
	}
}
.benefits-item__logo {
	margin: 0px 0px 37px 0px;
}
.benefits-item__title {
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	margin: 0px 0px 26px 0px;
}
.benefits-item__text {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin: 0px 0px 39px 0px;
	flex: 1 1 100%;
}
.blue-link {
	display: block;
	width: 170px;
	text-transform: uppercase;
	color: #006DFE;
	font-size: 16px;
	line-height: 24px;
	transition: .2s all;
	background: url("../img/benefits_block/icons/04.svg") no-repeat 95% center;
	&:hover, &:focus, &:active {
		background: url("../img/benefits_block/icons/04.svg") no-repeat right center;
	}
}
//</BENEFITS BLOCK>

//<INSPIRATION BLOCK>
.inspiration {
	margin-bottom: 131px
}
.inspiration__header {
	@include flexbox();
	justify-content: space-between;
	align-items: center;
}
.section__title {
	position: relative;
	font-size: 35px;
	line-height: 42px;
	color: #102746;
	padding: 0px 0px 10px 0px;
	&::after {
		display: block;
		content: '';
		width: 253px;
		height: 3px;
		background-color: #006DFE;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
.inspiration__title {
	margin: 0px 0px 36px 0px;
}
.inspiration__link {
	width: 141px;
	background: url("../img/benefits_block/icons/04.svg") no-repeat 95% center;
	&:hover, &:focus, &:active {
		background: url("../img/benefits_block/icons/04.svg") no-repeat right center;
	}
}
.inspiration__cards {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
}
.inspiration__card{
	position: relative;
	overflow: hidden;
	&::after{
		display: block;
		content: '';
		width: 100%;
		height: 100%;
		background-color: rgba(21, 24, 36, 0.4);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}
}
.inspiration__card:hover .inspiration-card__img {
	transform: scale(1.1);
}
.inspiration__card_large{
	grid-column: span 3;
}
.inspiration__card_small{
	grid-column: span 2;
}
.inspiration-card__img {
	width: 100%;
	object-fit: cover;
	transition: .2s;
}
.inspiration-card__img_large{
	height: 354px;
}
.inspiration-card__img_small{
	height: 283px;
}
.inspiration-card__title {
	font-size: 50px;
	line-height: 60px;
	color: #FFFFFF;
	position: absolute;
	bottom: 27px;
	left: 29px;
	z-index: 3;
}
.inspiration-card__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}
//</INSPIRATION BLOCK>

//<PREFECTURE BLOCK>
.prefecture {
	margin: 0px 0px 139px 0px;
}
.prefecture-container {
}
.prefecture-column {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0 108px;
	align-items: center;
	margin: 0px 0px 77px 0px ;
}
.prefecture__info {
	padding: 0px 0px 0px 45px;
}
.prefecture__title {
	font-size: 30px;
	line-height: 40px;
	color: #102746;
	margin: 0px 0px 85px 0px;
	&:last-child {
		margin: 0px 0ApES0px 0px;
	}
}
.prefecture__text {
	font-size: 16px;
	line-height: 24px;
	color: #102746;
	margin: 0px 0px 58px 0px;
}
.prefecture-column__link {
	width: 220px;
	&--2{
		width: 250px;
	}
}
//</PREFECTURE BLOCK>

//<TOP-PLACES BLOCK>
.top-places {
	margin: 0px 0px 86px 0px;
}
.top-places__title {
	margin: 0px 0px 54px 0px;
}
.top-places__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 57px;
}
.top-places__card {
	@include flexbox();
	flex-direction: column;
	cursor: pointer;
}
.top-places__card:hover .top-card__img{
	transform: scale(1.1);
}
.top-places__card:hover .top-card__stats{
	top: 0;
	left: 0;
	flex-direction: column;
	justify-content: center;
}
.top-places__card:hover .top-card__title{
	flex: 0 0 auto;
	font-size: 28px;
	letter-spacing: 1.5px;
	margin: 0px 0px 30px 0px;
}
.top-places__card:hover .top-card-likes{
	font-size: 20px;
	padding: 0px 27px 0px 0px;
	margin: 0px 0px 16px 0px;
}
.top-places__card:hover .top-card__comments{
	font-size: 20px;
	padding: 0px 30px 0px 0px;
}
.top-card__picture {
	position: relative;
	overflow: hidden;
	margin: 0px 0px 45px 0px;
}
.top-card__img {
	width: 100%;
	height: 386px;
	object-fit: cover;
	transition: .2s;
}
.top-card__stats {
	@include flexbox();
	align-items: center;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(21, 24, 36, 0.6);
	padding: 16px 25px;
	transition: .3s;
}
.top-card__title {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
	flex: 1 1 100%;
}
.top-card-likes {
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	padding: 0px 20px 0px 0px;
	background: url("../img/top-places_block/icons/01.svg") no-repeat right;
	margin: 0px 14px 0px 0px;
}
.top-card__comments {
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	padding: 0px 23px 0px 0px;
	background: url("../img/top-places_block/icons/02.svg") no-repeat right;
}
.top-card__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #102746;
	margin: 0px 0px 31px 0px;
	flex: 1 1 auto;
}
.top-card__btn {
	max-width: 118px;
	text-transform: uppercase;
	padding: 11px 19px;
	background-color: #1B7DFF;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	&:hover{
		background-color: #0f468e;
	}
}
//</TOP-PLACES BLOCK>

//<VIDEO BLOCK>
.video{
	width: 100%;
}
.video-container {
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
}
.video__frame {
	padding-top: 56.25%;
}
.video__item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
//</VIDEO BLOCK>
//===================================================
//</ОСНОВНОЙ БЛОК>


